DB = mongodb+srv://vaishnavymenon21:XLyAW1mOCN7BWSea@databaseadmin.hq1sk7s.mongodb.net/ReactAuthdb?retryWrites=true&w=majority
PORT = 9000
JWT_KEY = dashboardanalytics089
FRONTEND_URL = http://localhost:5173