.container{
    max-width: 1280px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
}

.navbar img {
    height: 43px;
    width: 76px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 24px;
    cursor: pointer;
}

.navbar button{
    all: unset;
    background-color: #D01C28;
    font-weight: 600;
    color: white;
    padding: 6px 16px;
    height: 32px;
    cursor: pointer;
}